Repository inovintell/docs-template, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, deps, config, docs, tests, src

.github/labeler.yml:

---
actions:
  - .github/**/*
deps:
  - renovate.json
  - poetry.lock
config:
  - .editorconfig
  - .yamllint.yml
  - .gitignore
  - pyproject.toml
docs:
  - README.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - docs/**/*
  - mkdocs.yml
tests:
  - tests/**/*
src:
  - src/**/*

fix: run initialization even with template
  .github/workflows/initialization.yml
Labels: actions

fix: setup template repository [skip ci]
  .github/workflows/initialization.yml
  CONTRIBUTING.md
  README.md
  cookiecutter.json
  docs/CONTRIBUTING.md
  docs/README.md
  mkdocs.yml
  pyproject.toml
  src/docs-template/__init__.py
  src/docs-template/_version.py
  tests/README.md
Labels: actions, config, docs, tests, src

fix: remove unused Python source
  src/docs-template/__init__.py
  src/docs-template/_version.py
  tests/README.md
Labels: tests, src

fix: lock with only necessary deps
  poetry.lock
  pyproject.toml
Labels: deps, config

fix: adjust workflows
  .github/workflows/python-code-checker.yml
  .github/workflows/python-docs-release.yml
  .github/workflows/python-docstrings-coverage.yml
  .github/workflows/python-release.yml
  .github/workflows/python-tests.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-pysa.yml
  .github/workflows/security-semgrep.yml
Labels: actions

fix: remove interrogate
  poetry.lock
  pyproject.toml
Labels: deps, config

fix: remove unused actions
  .github/actions/python-coverage/action.yml
  .github/actions/python-test/action.yml
Labels: actions

fix: remove unused auto docs generator
  docs/gen_ref_pages.py
Labels: docs

feat: add documentation
  docs/initialization.md
  docs/py-template/functionality.md
  docs/py-template/setup.md
  docs/template/functionality.md
  docs/template/setup.md
  mkdocs.yml
Labels: docs

fix: fix linting errors
  mkdocs.yml
Labels: docs

fix: adjust to markdown linting
  docs/py-template/functionality.md
  docs/py-template/setup.md
Labels: docs

fix: ignore unresolvable error
  docs/py-template/setup.md
Labels: docs

fix: increase indentation
  mkdocs.yml
Labels: docs

feat: add documentation (#5)
  .github/actions/python-coverage/action.yml
  .github/actions/python-test/action.yml
  .github/workflows/python-code-checker.yml
  .github/workflows/python-docs-release.yml
  .github/workflows/python-docstrings-coverage.yml
  .github/workflows/python-release.yml
  .github/workflows/python-tests.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-pysa.yml
  .github/workflows/security-semgrep.yml
  docs/gen_ref_pages.py
  docs/initialization.md
  docs/py-template/functionality.md
  docs/py-template/setup.md
  docs/template/functionality.md
  docs/template/setup.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  src/docs-template/__init__.py
  src/docs-template/_version.py
  tests/README.md
Labels: actions, deps, config, docs, tests, src

fix: add README & remove leftovers
  CHANGELOG.md
  README.md
  mkdocs.yml
Labels: docs

fix: add README & remove leftovers (#6)
  CHANGELOG.md
  README.md
  mkdocs.yml
Labels: docs

fix: use soft linking
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
Labels: docs

fix: use soft linking (#7)
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
Labels: docs

feat: add gh-pages info
  README.md
  docs/py-template/setup.md
  docs/template/setup.md
Labels: docs

feat: add gh-pages info (#8)
  README.md
  docs/py-template/setup.md
  docs/template/setup.md
Labels: docs

fix: remove CodeQL
  .github/workflows/security-codeql.yml
Labels: actions

fix: remove CodeQL (#11)
  .github/workflows/security-codeql.yml
Labels: actions

feat: add security sections & improve wording
  README.md
  docs/py-template/functionality.md
  docs/py-template/setup.md
  docs/template/functionality.md
  docs/template/setup.md
Labels: docs

feat: add security section & improve wording (#12)
  README.md
  docs/py-template/functionality.md
  docs/py-template/setup.md
  docs/template/functionality.md
  docs/template/setup.md
Labels: docs

feat: add integration section
  docs/py-template/integration.md
  docs/py-template/setup.md
  docs/template/setup.md
  mkdocs.yml
Labels: docs

fix: add hyperlink to issue creation
  docs/py-template/integration.md
Labels: docs

fix: add hyperlink to py-template
  README.md
Labels: docs

feat: add integration section (#14)
  README.md
  docs/py-template/integration.md
  docs/py-template/setup.md
  docs/template/setup.md
  mkdocs.yml
Labels: docs

feat: add coverage description
  docs/py-template/coverage.md
  mkdocs.yml
Labels: docs

feat: add coverage description (#49)
  docs/py-template/coverage.md
  mkdocs.yml
Labels: docs

feat: add Python version description
  docs/py-template/version.md
  mkdocs.yml
Labels: docs

fix: adjust to formatter
  docs/py-template/version.md
Labels: docs

feat: describe python version choosing (#51)
  docs/py-template/version.md
  mkdocs.yml
Labels: docs

feat: describe private releases
  docs/py-template/private.md
  mkdocs.yml
Labels: docs

fix: adjust to formatter
  docs/py-template/private.md
Labels: docs

feat: describe a way to perform private releases (#53)
  docs/py-template/private.md
  mkdocs.yml
Labels: docs

feat: add FAQ section
  docs/py-template/faq.md
  mkdocs.yml
Labels: docs

fix: adjust to linter
  docs/py-template/faq.md
Labels: docs

feat: create faq section for py-template (#55)
  docs/py-template/faq.md
  mkdocs.yml
Labels: docs

feat: add poetry & pre-commit description
  docs/py-template/setup.md
  docs/py-template/tricks.md
  mkdocs.yml
Labels: docs
